.panier-vide-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.text-panier-vide {
    display: flex;
    flex-direction: column;
    width: 90vw;
    gap: 10px;
}

.panier-vide-container > .text-panier-vide> h1 {
    color: var(--color-primary);
    font-family: "inter" , serif;
    text-align: center;
    font-size: 1.5rem;

}

.panier-vide-container > .text-panier-vide > h3 {
    font-family: "Inclusive Sans";
    font-weight: 400;
    color: var(--color-text-secondary);
    text-align: center;
}

.icon-bag-empty {
    /* font-size: 10vw; */
    font-size: clamp(50px,8vw,100px);
    color: var(--bleu-profond);
}

.bouton-panier-vide {
    border-radius: 5px;
    color: var(--bleu-nuit);
    background: rgba(224, 166, 119, .22);
    font-family: "Comic Neue";
    font-size: 1rem;
    padding-inline: 25px;
    margin-inline: 25px ;
    min-height: 50px;
    margin-top: 25px;
    box-shadow: 0 4px 12px var(--color-shadow);
}

.bouton-panier-vide:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 0px ;

}



