@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');



.panier-vide-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.text-panier-vide {
    display: flex;
    flex-direction: column;
    width: 90vw;
    gap: 10px;
}

.panier-vide-container > .text-panier-vide> h1 {
    color: #0000003b;
    font-family: "inter" , serif;
    text-align: center;

}

.panier-vide-container > .text-panier-vide > h3 {
    font-family: "Inclusive Sans";
    font-weight: 400;
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
}

.icon-bag-empty {
    /* font-size: 10vw; */
    font-size: clamp(50px,8vw,100px);
    color: #022a66;
}

.bouton-panier-vide {
    border-radius: 5px;
    color: #0a1a77 ;
    background: #1818451e;
    font-family: "Comic Neue";
    font-size: 18px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.bouton-panier-vide:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 0px ;

}



