.inputText {
    border-radius: 20px;
    border: solid 1px var(--bleu-doux);
    background: rgba(255, 255, 255, 0.78);
}

.inputLogin {
    height: 45px;
    width: 375px;
    margin-top: 10px;

}

