.bouton {
    border: 0px;
    /* width: 180px; */
    height: 45px;
    color: var(--blanc);
    background: var(--accent);
    transition: background-color 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
    /* border-radius: 100px; */
}

.bouton:hover {
    cursor: pointer;
}

.bouton-home {
    background: var(--accent);
    color: var(--blanc);
    
}

.bouton-home:hover {
    background: var(--bleu-profond);
    transition: 0.5s;
    transform: scale(1.1);
}

.bouton-login {
    background: var(--accent);
    color: var(--blanc);
    border-radius: 10px ;
}
