.searchBar-Nav {
    display: flex;
    align-items: center;
    
    /* background: red; */
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    /* left:  11px; */
    /* background: rgba(24, 117, 255, 0.281); */
}

.searchInput {
    background: rgba(255, 255, 255, 0.027);
    border: 0px;
    border-radius: 5px;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.534); */
    width: 150px;
    height: 26px;
    padding-inline-start: 15px;
    box-shadow: -0.1px 0px 3px 1px rgba(0, 0, 0, 0.082);
}
.searchInput:focus {
    outline: none;
    background: #ffffff4f;
    padding-right: 15px;
}



.loupeSearch {
    position: relative;
    color: rgba(0, 0, 0, 0.267);
    font-size: 20px;
    right: 25px;
    z-index: 1;
 
    width: clamp(15px,0.8vw,20px);
}

.loupeSearch:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.596);
    transition: 0.5s;
}

.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width : 1000px) {

    .search-container {      
        display: none;       
    }

    .search-container-mobile {        
        position: absolute;
        margin-top: 20px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: rgb(190, 61, 190); */
        width: 100vw;
       
    }


    .searchInput-mobile {
        max-width: 400px;
        display: flex;
        /* background: red; */
        /* background: #ffffff48; */
        /* border-bottom: 2px rgb(0, 0, 0) solid; */        
        width: 70vw;
        background: rgba(3, 3, 3, 0.418);
        border: 0px;
        border-radius: 5px;
        /* border-bottom: solid 1px rgba(0, 0, 0, 0.534); */
        margin-left: 20px;
        height: 26px;
        padding-inline-start: 15px;
               
        border-bottom: 2px solid rgba(0, 0, 0, 0.13);
        
    }

    
    .searchInput-mobile:focus {
        display: flex;
        background: rgba(255, 251, 251, 0.199);
        /* background: #d41818e3; */
        border-bottom: 2px rgba(255, 255, 255, 0.555) solid;
        border: 0px;
        width: 70vw;
        outline: none;
        box-shadow:  1px 1px 5px white;
    }


    .loupeSearch-mobile  {
        position: relative;
        right: 25px;
        color: rgb(255, 255, 255);
        width: fit-content;
        /* background: rgb(112, 2, 2); */
        font-size: 20px;

    }

    
}