

.image {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 7px;

}

.container-produitItem > .itemProduit {
    border-bottom: 2px solid rgba(0, 0, 0, 0.137);
}

.itemProduit > .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2px;
}

.details > .quant {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: fit-content;
    /* background: red; */
}

.details > .prix {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

.add-pan,.sup-pan {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    height: 15px;
    font-size: 15px;
    font-weight: bold;
}

.quant {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    background: #5679d8;
    width: fit-content;
    padding: 0px;
}

.quant > p {
    font-size: 15px;
}
