

 .produit {
    display: flex;
    align-items: center;
    /* background: red; */
    height: fit-content;
    width: fit-content;
 }

 

 .container-hero {
    display: flex;
    justify-content: center;
    /* background: #c427af; */
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    box-sizing: border-box;
    
 }

 .produit-hero {
    display: flex;
    /* background: #8f9bdf; */
    height: fit-content;
    width: 60vw;
    justify-content: center;
    /* align-items: center; */
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 50px;
    overflow-y: scroll;
    
    
}

.produit-container > h1 {
    margin-top: 25px;
}

.produit-container {
    display: flex;
    flex-direction: column;
    /* background: #97db28; */
    align-items: center;
    /* top: 100px;  */
    width: fit-content;
    margin-left: 10vw;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    box-sizing: border-box;

}

.container-hero > svg {
    display: none;
}

@media (max-width:1050px) {

   .container-hero {
      padding-top: 0px;
      /* background: #000; */
   }

   .container-hero > svg {
    display: block;
    position: absolute;
    width: 50px;
    right: 50px;
    top: 100px;
}

    .produit-hero {
      
        width: 90vw;
        gap: 15px;
        /* background: #000; */
    }

    .produit-container {
        margin-left: 0vw;
    }

}

